parameters:
    level: max
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - message: '#.*NodeDefinition::children.*#'
          path: ./src/DependencyInjection
